:root {
  /* Colors */
  --clr-primary-gradient: linear-gradient(
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  ); /*active input border*/
  --clr-error: hsl(0, 100%, 66%); /*(input errors)*/
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-400: hsl(270, 3%, 87%);
  --neutral-500: hsl(279, 6%, 55%);
  --neutral-600: hsl(278, 68%, 11%);

  /* Typography */
  --font-family: 'Space Grotesk', sans-serif;
  --font-eights: 500;
  --fs-body-s: .75rem;
  --fs-body-m: .75rem;
  --fs-body-l: .5625rem;
  --fs-heading-l: 1.125rem;
  --fs-heading-xl: 1.125rem;
  --fs-heading-xxl: 1.75rem;

  --letter-spacing-heading-xl: 2.2px;
  --letter-spacing-body-l: 1.286px;

  --preview-width:17.875rem;
}

@media screen and (min-width: 70rem) {
  :root {
    --fs-heading-xl: 1.75rem;
    --fs-body-l: .875rem;
    --letter-spacing-heading-xl: 3.422px;
    --letter-spacing-body-l: 2px;

    --preview-width:27.9375rem;
  }
}

.f-body-m {
  font: 500 var(--fs-body-m) var(--font-family);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.f-body-s {
  font: 500 var(--fs-body-s) var(--font-family);
}

.f-body-l {
  font: 500 var(--fs-body-l) var(--font-family);
  letter-spacing: var(--letter-spacing-body-l);
  text-transform: uppercase;
}

.f-heading-l {
  font: 500 var(--fs-heading-l) var(--font-family);
}

.f-heading-xl {
  font: 500 var(--fs-heading-xl) var(--font-family);
  letter-spacing: var(--letter-spacing-heading-xl);
}

.f-heading-xxl {
  font: 500 var(--fs-heading-xxl) var(--font-family);
  letter-spacing: 3.422px;
}

/* --------- */
/* Reset     */
/* --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  padding: 0;
  margin: 0;
}

input,
textarea,
button,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font: 500 var(--fs-heading-l) var(--font-family);
  color: var(--neutral-600);
}

.preview-background-wrapper {
  padding-top: 2rem;  
  background: url(images/bg-main-mobile.png) no-repeat center top / 100% 15rem;
  margin-bottom: 3rem;
}

.preview-content-wrapper {
  max-width: 21.4375rem;
  min-height: 15.6875rem;
  margin: 0 auto;
  position: relative;
}

.preview {
  position: absolute;
  width: var(--preview-width);
  aspect-ratio: 286 / 157;
  border-radius: .375rem;
}

.preview__back {
  top: 0;
  right: 0;
  background: url('images/bg-card-back.png') no-repeat center
    center/cover;
}

.preview__cvc {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 13%;
  color: var(--neutral-0);
}

.preview__front {
  left: 0;
  bottom: 0;
  background: url('images/bg-card-front-mobile.svg') no-repeat center
    center/cover;
  padding: 1.125rem 1.25rem;
  color: var(--neutral-0);
}

.preview__logo {
  width: 3.375rem;
  aspect-ratio: 54/30;
  margin-bottom: 2.375rem;
}

.preview__number {
  margin-bottom: 1.0625rem;
}

.preview__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-form {
  padding-inline: 1.5rem;
}

.card-content {
  max-width: 26.8125rem;
  margin-inline: auto;
  margin-bottom: 2.8125rem;
}

.card-form__fields {
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1.625rem;
}

.field {
  display: grid;
  gap: .5625rem;
}

input {
  border: 1px solid var(--neutral-400);
  border-radius: .5rem;
  padding: .625rem 1rem;
  min-width: 0;
  transition: 0.8s;
  outline: none;
  color: inherit;
}

input::placeholder {
  color: var(--neutral-400);
}

input:focus {
  background: linear-gradient(white, white) padding-box,
    var(--clr-primary-gradient) border-box;
  border-color: transparent;
}

.card-verification {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: .6875rem;
}

.card-verification > .field{
  flex: 1 1 6.875rem;
}

.card-verification > .field:first-child{
  flex-basis: 30%;
}

.card-expiry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.button {
  background-color: var(--neutral-600);
  border: none;
  color: var(--neutral-0);
  padding: .9375rem;
  width: 100%;
  border-radius: .5rem;
  cursor: pointer;
}

.button:hover {
  --clr-hover: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(var(--clr-hover), var(--clr-hover));
}

.card-error {
  display: none;
  color: var(--clr-error);
}

.validated input:invalid {
  border-color: var(--clr-error);
}

.validated input:invalid ~ .card-error {
  display: block;
}

.complete {
  display: grid;
  justify-items: center;
  padding-inline: 1.5rem;
}

.complete__image {
  margin-bottom: 2.1875rem;
}

.complete__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.complete__text {
  color: var(--neutral-500);
  margin-bottom: 3rem;
}

.card-form.hidden,
.complete.hidden {
  display: none;
}

@media screen and (min-width: 50rem) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
  }

  .preview-background-wrapper {
    padding: 0;
    padding-right: .9375rem;
    align-self: stretch;
    display: grid;
    height: 100%;
    justify-items: right;
    align-items: center;
    background: url(images/bg-main-desktop.png) no-repeat left center / 67%
      100%;
  }

  .preview__front {
    left: 0;
    top: 0;
  }

  .preview__back {
    right: 0;
    bottom: 0;
    top: unset;
  }

  .preview-content-wrapper{
    width: 80%;
    min-width: 21.875rem;
    min-height: 20rem;
    max-width: none;
    margin-inline: 0;
  }
}

@media screen and (min-width: 70rem) {
  .preview-content-wrapper {
    width: 33.8125rem;
    height: 32.9375rem;
    max-width: none;
    margin-inline: 0;
  }

  .preview__logo {
    width: 5.25rem;
    margin-bottom: 4rem;
  }

  .preview__front {
    padding: 1.75rem 2rem;
  }

  .preview__number {
    margin-bottom: 1.625rem;
  }

  .card-content {
    margin: 0 0 0 5.5rem;
  }

  .card-form__fields {
    row-gap: 1.625rem;
    margin-bottom: 2.5rem;
  }
}
