/*
todo:
 * disable spell check for cardholder name 
Layout
- Mobile: 375px
- Desktop: 1440px 
*/

:root {
  /* Colors */
  --clr-primary-gradient: linear-gradient(
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  ); /*active input border*/
  --clr-error: hsl(0, 100%, 66%); /*(input errors)*/
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-400: hsl(270, 3%, 87%);
  --neutral-500: hsl(279, 6%, 55%);
  --neutral-600: hsl(278, 68%, 11%);

  /* Typography */
  --font-family: 'Space Grotesk', sans-serif;
  --font-eights: 500;
  --fs-body-s: 12px;
  --fs-body-m: 12px;
  --fs-body-l: 9px;
  --fs-heading-l: 18px;
  --fs-heading-xl: 18px;
}

.f-body-m {
  font: 500 var(--fs-body-m) var(--font-family);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.f-body-s {
  font: 500 var(--fs-body-s) var(--font-family);
}

.f-body-l {
  font: 500 var(--fs-body-l) var(--font-family);
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.f-heading-l {
  font: 500 var(--fs-heading-l) var(--font-family);
}

.f-heading-l {
  font:500 var(--fs-heading-l) var(--font-family);
}

.f-heading-xl {
  font: 500 var(--fs-heading-xl) var(--font-family);
  letter-spacing: 3.422px;
}

/* --------- */
/* Reset     */
/* --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  padding: 0;
  margin: 0;
}

input, textarea, button, select {
  font: inherit;  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
} 

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font: 500 var(--fs-heading-l) var(--font-family);
  color: var(--neutral-600);
}

main {
}

.card {
}

.preview-wrapper {
  padding-top: 32px;
  margin: 0 auto;
  background: url(images/bg-main-mobile.png) no-repeat center top / 100% 240px;
  margin-bottom: 48px;
}

.preview-wrapper-todo {
  max-width: 343px;
  min-height: 251px;
  margin: 0 auto;
  position: relative;
}

.preview {
  position: absolute;
  height: 157px;
  aspect-ratio: 286 / 157;
  border-radius: 6px;
}

.preview__back {
  top: 0;
  right: 0;
  background: url('images/bg-card-back-mobile.svg') no-repeat center
    center/cover;
}

.preview__cvc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13%;
  font-size: 9px;
  color: var(--neutral-0);
  letter-spacing: 1.286px;
}

.preview__front {
  left: 0;
  bottom: 0;
  background: url('images/bg-card-front-mobile.svg') no-repeat center
    center/cover;
  padding: 17.6px 20.69px 0 19px;
  color: var(--neutral-0);
}

.preview__logo {
  width: 54px;
  height: 30px;
  margin-bottom: 38px;
}

.preview__number {
  font-size: 18px;
  letter-spacing: 2.2px;
  margin-bottom: 17px;
}

.preview__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.preview__exp {
  text-transform: uppercase;
  letter-spacing: 1.286px;
}

.card-form {
  padding-inline: 24px;
}

.card-form-fields {
  display: grid;
  gap:20px;
  margin-bottom: 26px;
}

.card-field {
  display: grid;
  gap:9px;
  /* margin-bottom: 10px; */
}

.card-field input {
  border: 1px solid var(--neutral-400);
  border-radius: 8px;
  padding: 10px 16px;
  min-width: 0;
  transition: 0.8s;
  outline: none;
  color: inherit;
}

.card-field input::placeholder {
  color: var(--neutral-400);
}

.card-field input:focus {
  background: linear-gradient(white, white) padding-box,
    var(--clr-primary-gradient) border-box;
  border-color: transparent;
}

.card-verification {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1.08fr;
  gap: 11px;
}

.card-expiry {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.button {
  background: var(--neutral-600);
  border: none;
  color:var(--neutral-0);
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.card-error {
  display: none;
  color:var(--clr-error);
}

.validated input:invalid ~ .card-error {
  display: block;
}

.card-complete {
  display: none;
}